table.browser {
	width: 100%;
	table-layout: fixed;
	border-top: 1px darkgrey solid;
	border-collapse: collapse;
}

table.browser td {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

table.browser td.name {
	width: 60%;
	color: black;
}

table.browser td.last-modified {
	width: 20%;
	color: darkgrey;
}

table.browser td.size {
	width: 20%;
	color: darkgrey;
	text-align: right;
}

table.browser tr:nth-child(odd) {
	background-color: aliceblue;
}

table.browser tr:nth-child(even) {
	background-color: white;
}

div.icon {
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	margin-right: 2px;
	width: 22px;
	height: 18px;
	text-align: right;
	float: left;
}

div.symbol-file {
	background-image: url('assets/file.gif');
	cursor: pointer;
}

div.symbol-folder {
	background-image: url('assets/folder.gif');
	cursor: pointer;
}

div.symbol-spinner {
	background-image: url('assets/spinner_small.gif');
}

div.navi-closed {
	background-image: url('assets/arrow-right.gif');
	cursor: pointer;
}

div.navi-open {
	background-image: url('assets/arrow-down.gif');
	cursor: pointer;
}

div.spacer {

}

span.file-name, span.folder-name {
	cursor: pointer;
}

